<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeremy.demo">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- 友盟必备权限 -->
    <!-- ACCESS_NETWORK_STATE(必须)	检测联网方式，区分用户设备使用的是2G、3G或是WiFi -->
    <!-- READ_PHONE_STATE(必须)	获取用户设备的IMEI，通过IMEI和mac来唯一的标识用户。 -->
    <!-- ACCESS_WIFI_STATE(必须)	获取用户设备的mac地址，在平板设备上，无法通过imei标示设备，我们会将mac地址作为用户的唯一标识 -->
    <!--
    INTERNET(必须)	允许应用程序联网，以便向我们的服务器端发送数据。 安定roidM


    <!- 联网相关权限
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 高德 -->
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.hardware.sensor.accelerometer" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 高德设置 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="958f1354b22879c8736e9abc8d42e89b" />
        <!-- 定位需要的服务 -->
        <!--<service android:name="com.amap.api.location.APSService" />-->
        <!-- <meta-data -->
        <!-- android:name="UMENG_APPKEY" -->
        <!-- android:value="590201725312dd82ac002192" /> -->
        <!-- <meta-data android:value="Wandoujia" android:name="UMENG_CHANNEL"/> -->


        <!-- <meta-data -->
        <!-- android:name="UMENG_CHANNEL" -->
        <!-- android:value="${UMENG_CHANNEL_VALUE}" /> -->

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AnnotationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewInjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SenserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HttpsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ThreadActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.WakeUpAppActivity" />
        <activity android:name=".algorithm.AlgorithmListActivity" />
        <activity android:name=".algorithm.MonkeyNumberOffActivity" />
        <activity android:name=".algorithm.CardOrderActivity" />
        <!-- <activity android:name=".activity.CameraMonitorActivity" /> -->
        <activity android:name=".algorithm.StringAlgorithmActivity" />
        <activity android:name=".algorithm.NumAlgorithmActivity" />
        <activity
            android:name=".algorithm.BinaryTreeActivity"
            android:label="@string/title_activity_binary_tree"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.CustomViewActivity" />
        <activity android:name=".activity.PieChartActivity" />
        <activity android:name=".algorithm.LinkListActivity" />
        <activity android:name=".activity.BubbleHeartActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.CheckUpdateActivity" />
        <activity android:name=".activity.SpringBackActivity" />
        <activity android:name=".activity.VideoFullScreenActivity" />
        <activity
            android:name=".activity.DigtalSignActivity"
            android:screenOrientation="portrait" />

        <!-- Android 7.0 需要使用provider打开文件权限 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jeremy.demo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.PickPhotoActivity" />
        <activity android:name="com.jeremy.crop.CropImageActivity" />
        <activity android:name=".activity.ShakeActivity" />
        <activity android:name=".algorithm.HeapSortActivity" />
        <activity android:name=".activity.DroidPluginActivity" />
        <activity android:name=".fragmentwithback.FragmentWithBackActivity" />
        <activity
            android:name=".activity.RxJavaRetrofitOkhttpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GankAllActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.PropertyAnimActivity" />
        <activity android:name=".activity.anim.Xml4AnimActivity" />
        <activity android:name=".activity.anim.layoutTransitionActivity" />
        <activity
            android:name=".activity.plugin.HookActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.jni.MyFirstJniActivity" />
        <activity
            android:name=".activity.camera.IDCardUploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.sortedview.SortedViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".plugin.PluginActivity"></activity>
        <activity android:name=".plugin.ProxyActivity">
            <intent-filter>
                <action android:name="com.jeremy.plugin.VIEW" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>

        </activity>

        //换肤
        <activity android:name=".skin.test.MainActivity" />
        <activity android:name=".skin.test.SkinActivity" />

    </application>

</manifest>